@import url("https://fonts.googleapis.com/css?family=Roboto");

html{
  background-color: rgba(120, 151, 66, 0.534);
  font-family: "Roboto", sans-serif;
  color: whitesmoke;
}
  .hidden {
    display: none;
  }

  #container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  button {
    margin: 0 10px 20px 0;
    width: 99px;
  }
  
  button:last-of-type {
    margin: 0;
  }
  
  /* canvas {
    content: c
    width: 100px;
    
  } */
  
  img.logo {
    display: block;
    margin: auto;
    width: 8%;
    margin-bottom: 25px;
  }
  
  input#zoom {
    margin: 0 0 20px 0;
    width: 100%;
  }
  
  .borderBelow {
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
  }
  
  video {
    margin: 0 12px 20px 0;
    vertical-align: top;
  }
  
  @media (max-width: 500px) {
    button {
      font-size: 0.8em;
      width: calc(33% - 5px);
    }
  }
  
  @media (max-width: 720px) {
    video {
      margin: 0 10px 10px 0;
    }
  }
  .polaroid a {
    border-radius:7px;
    background: #ffffff;
    display: inline-block;
    margin: 55px 75px 30px;
    padding: 15px 15px 30px;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -webkit-transition: all .20s linear;
    -moz-transition: all .20s linear;
    transition: all .20s linear;
    z-index: 0;
    position: relative;
  }
  
  .polaroid a:after {
    color: #333;
    font-size: 25px;
    content: attr(title);
    position: relative;
    top: 15px;
  }
  
  .polaroid img {
    display: block;
    width: 250px;
  }
  
  